
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}  
body{
background-image: url("img/ggy.jpg");
height:60%;
background-size: 100%;
background-repeat: none;
 }
	
.register{

	padding-top: : 50%;
	border-radius: 5%;
	width: 450px;
	height: 520px;
	background:url(img/gyy.jpg);
	background-size: 100%;
  padding: 20px 60px; /* transparent box length and width*/
  
}
.register p{
	font-family: sans-serif;
	padding: 0 0 0;
	margin: 0;
	font-weight:  bold;
}
.register input{
	width: 100%;
	margin-bottom: 20px;
	color: aqua;
}
.register input[type="text"]
{
	padding: 15px;
	border: none;
	border-bottom: 2px solid #fff;
	border-bottom-style: line;
	outline: inherit;
	background: transparent;
	font-size: 15px;
	color: white;
	height: 30px;  /*height of box*/
}

.register input[type="email"]
{
	padding: 15px;
	border: none;
	border-bottom: 2px solid #fff;
	border-bottom-style: line;
	outline: inherit;
	background: transparent;
	font-size: 15px;
	color: white;
	height: 30px;  /*height of box*/
}

.register input[type="password"]
{
	padding: 15px;
	border: none;
	border-bottom: 2px solid #fff;
	border-bottom-style: line;
	outline: inherit;
	background: transparent;
	font-size: 15px;
	color: white;
	height: 30px;  /*height of box*/
}
.register input[type="submit"]
{
	font-size: 20px;
	height: 40px;
	font-family: sans-serif;
	color: black;
	border: none;
	outline: none;
	background: grey;
	color: #fff;
	border-radius: 20px;
}

.register input[type="submit"]:hover
{
	cursor: pointer;
	background: white;
	color: #000;
}
.bck{
  border: 2px solid #364eca;
  padding:2px 3px;
  border-radius: 20px;
  text-align: center;
  color: grey;
}
.bck:hover
{
	cursor: pointer;
	background: white;
	color: #000;
}
